aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
apachelogs==0.6.0
async-timeout==4.0.2
attrs==22.1.0
charset-normalizer==2.1.0
click==7.1.2
colorclass==2.2.2
colorlog==6.6.0
croniter==1.3.5
faust==1.10.4
frozenlist==1.3.1
httpagentparser==1.9.3
idna==3.3
kafka-python==1.4.7
mode==4.3.2
multidict==6.0.2
mypy-extensions==0.4.3
opentracing==1.3.0
pydicti==1.1.6
python-dateutil==2.8.2
pytz==2016.7
robinhood-aiokafka==1.1.6
six==1.16.0
terminaltables==3.1.10
venusian==1.2.0
yarl==1.8.1
